@mixin flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  scroll-behavior: smooth;
  ;
}

* {
  font-family: 'Comic Neue', cursive;
  font-weight: bold;
  background-color: rgb(255, 251, 246);
  color: rgb(0, 45, 114);
  letter-spacing: .1rem;
  caret-color: transparent;
}

.navbar {
  overflow: hidden;
  font-size: 20px;
  position: fixed;
  top: 0px;
  width: 100%;
}


#navbar-links {
  display: flex;
  // background-color: rgba(128, 128, 128, 0.31);
  float: left;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  margin-top: 0;
  padding-top: 0;

  @media screen and (max-width:641px) {
    display: none;
    height: 90vh;
    width: 90vw;
    /* font-size: 30px; */
  }

  @media screen and (min-width:642px) {
    display: flex;
  }

}

/* Style the navbar links */
#navbar a {
  float: left;
  text-align: center;
  padding: 15px;
  text-decoration: none;

}

/* Style the hamburger menu */
.navbar a.icon {
  display: none;
  position: fixed;

  @media screen and (max-width:641px) {
    display: block;

  }
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  text-decoration: line-through;
  background-color: #ddd;
}


.container__heading {
  font-family: 'Montez', cursive;
  letter-spacing: 0;
  text-align: center;
  color: rgb(254, 84, 84);
  transition: color 1s;
  font-size: 50px;

}

.container__heading:hover {
  color: black;
}

.container {
  @include flexbox;
  flex-direction: column;
  height: 100vh;
  transition: float 1s;
  overflow:auto;
}


.container__text {
  text-align: center;
  padding: 20px;
  margin: 20px;
  font-size: 40px;
  border-bottom: 2px solid rgb(0, 45, 114);


}



.container__text--about {
  text-align: center;
  padding: 20px;
  margin: 20px;
  font-size: 40px;
  /* opacity: 0; */

}

/* .appear-text {
  opacity: 1;
  transition: opacity 1s ease-in;

} */

//Skills
.container__text--skills {
  font-size: 100px;
  
}

.container__text--skills .fa:hover {
  box-shadow: 3px 6px 18px -4px rgba(0,0,0,0.7);


}


// *********

.flip__card {
  background-color: transparent;
  width: 70%;
  height: 60%;
  // border: 1px solid #f1f1f1;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip__card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 3px 6px 18px -4px rgba(0,0,0,0.7);
  
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip__card:hover .flip__card__inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip__card__front,
.flip__card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip__card__front {
  /* background-color: #bbb; */
  // color: black;
  font-size: 30px;
}

/* Style the back side */
.flip__card__back {
  // background-color: dodgerblue;
  font-size: 30px;
  transform: rotateY(180deg);
}

.flip__card__box {
  @include flexbox;
  flex-wrap: wrap;
  
}

.flip__card__box--icons {
  @include flexbox;
  flex-wrap: wrap;
  flex-direction: column;
  height: 20%;
  width: 70%;
  gap: 30px;
}

.flip__card__front > h2,
.flip__card__back > h2
 {
  text-decoration: underline;
  
  
}



//**********

// Projects 

.container__projects {
  @include flexbox;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  height: 70%;
  width: 100%;
 
  
}

.container__card {
  // border: 2px solid black;
  height: 60%;
  width: 300px;
  text-align: center;
  box-shadow: 3px 6px 18px -4px rgba(0,0,0,0.7);
  border: 5px solid transparent;
  transition: border-color 1s ease;
  border-radius: 20px;
  transition: transform .2s;
}

.container__card:hover {
  border-color: rgb(254, 84, 84);
  transform: scale(1.2); /* (150% zoom */ 
}

.container__card--heading {
  font-size: 30px;
  text-decoration: underline;
  
}

.container__card--image {
  height: 100px;
  width: 100px;
}

// Contact

.container__contact--icon {
  font-size: 50px;
  padding: 10px;
}