@import '../partials/variables';
@import '../partials/mixins';


html {
  scroll-behavior: smooth;
  font-size: 10px;
}

* {
  font-family: 'Comic Neue', cursive;
  font-weight: bold;
  background-color: $bg-primary;
  color: $font-text;
  letter-spacing: .1rem;
  caret-color: transparent;
}

//Navbar

.navbar {
  overflow: hidden;
  font-size: 2.5rem;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}


#navbar-links {
  display: flex;

  // Styling for smaller screens

  @media screen and (max-width:641px) {
    display: none;
    @include dimensions(90vh,90vw);
  }

  @media screen and (min-width:642px) {
    display: flex;
  }

}

/* Style the individual navbar link */

nav{
  a {
  float: left;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  }
} 

/* Style the hamburger menu */
.navbar a.icon {
  display: none;
  position: fixed;

  @media screen and (max-width:641px) {
    display: block;

  }
}

#navbar a:hover,
.active {
  background-color: $bg-hover;
}

//Landing 

.container {
  @include flexbox(column,nowrap);
  @include dimensions(100vh,100vw);
  overflow:auto;
}

.container__heading {
  font-family: 'Montez', cursive;
  text-align: center;
  color: $font-heading;
  transition: color 1s;
  font-size: 5rem;

}

.container__heading:hover {
  color: black;
}

.container__text {
  text-align: center;
  padding: 20px;
  margin: 20px;
  font-size: 3rem;
}

//Skills


.flip__card {
  background-color: transparent;
  @include dimensions(60%,50%);
  perspective: 1000px; /* For 3D effect */
 
}

/* This container is needed to position the front and back side */
.flip__card__inner {
  position: relative;
  @include dimensions(100%,100%);
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: $b-shadow;
  
  
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip__card:hover .flip__card__inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip__card__front,
.flip__card__back {
  position: absolute;
  @include dimensions(100%,100%);
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;

}

/* Style the front side */
.flip__card__front {
  
  font-size: 3rem;
}

/* Style the back side */
.flip__card__back {
  font-size: 3rem;
  transform: rotateY(180deg);
}

.flip__card__box {
  @include flexbox(row,wrap);
  // flex-wrap: wrap;
  
}

.flip__card__box--icons {
  @include flexbox(column,wrap);
  @include dimensions(20%,70%);
  gap: 30px;
}

.flip__card__front > h2,
.flip__card__back > h2
 {
  text-decoration: underline;
  
  
}

// Projects 

.container__projects {
  @include flexbox(row,wrap);
  @include dimensions(70vh,100vw);
  gap: 50px;
}

.container__card {
  text-align: center;
  box-shadow: $b-shadow;
  border: 5px solid transparent;
  transition: border-color 1s ease;
  border-radius: 20px;
  transition: transform .2s;
  padding: 20px;
  width: 400px;
  align-self: stretch; //makes height of each card same without fixing the height
  
  
}

.container__card:hover {
  border-color: $font-heading;
  transform: scale(1.2); /* (150% zoom */ 
}

.container__card--heading {
  font-size: 4rem;
  text-decoration: underline;
  
}

.container__card--image {
  @include dimensions(20vh,18vw);
}

.container__card--text {
  font-size: 2.5rem;
}

.container__card--icon {
  font-size: 2rem;
}

// Contact

.container__contact--icon {
  font-size: 3rem;
  padding: 10px;
}

.container__contact--icon:hover {
  transform: scale(1.2); 

}